[Unit]
Description=Thanos Sidecar
Wants=network-online.target
After=network-online.target
[Service]
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/thanos sidecar \
    --tsdb.path=/var/lib/prometheus \
    --prometheus.url=http://localhost:9090 \
    --grpc-address=0.0.0.0:10901 \
    --http-address=0.0.0.0:10902 \
    --objstore.config-file=/etc/thanos/gcs.yml
Restart=always

[Install]
WantedBy=multi-user.target